a:not(.file) {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 18px;
    pointer-events: none;
    cursor: default;
    }

a.file {
    text-decoration: none;
    text-decoration: underline;
    color: blue;
}

ul {
    list-style-type: none;
    margin: auto;
}

body {
    padding-top: 5%;
    color: green;
    background-color: lightgrey;
    }

div {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
